In [1]:
import pandas as pd
import numpy as np

In [2]:
# 讀取流量資料

df_Volume = pd.read_csv('../data/railway_value_finished.csv',encoding='utf-8')
print(df_Volume.columns)
#　缺少規劃中站點


df = pd.read_csv('../data/all_stations_with_all_num.csv',encoding='utf-8')
print(df_Volume.columns)

df_Volume2 = pd.merge(df[['Station_Type','Activated','Station_Name']],
                      df_Volume[['Station_Type','Activated','Station_Name','Vol_All','Vol_Workday','Vol_Weekend','Weekend_Percent']],
                      on = ['Station_Type','Activated','Station_Name'],
                      how='left' )
print(df_Volume2.columns)
# df_Volume2[df_Volume2.isnull()] #   未營運的為缺值

#  數值數資料轉換 人數統一取小數點0位  比例資料*100 取2位
df_Volume3 = pd.concat([df_Volume2[['Station_Type', 'Activated', 'Station_Name']],
            df_Volume2.loc[:,'Vol_All':'Vol_Weekend'].apply(lambda x : round(x/1000 , 3)),
            df_Volume2['Weekend_Percent'].apply(lambda x: round(x*100 , 2) )],
                       
           axis=1) 
df_Volume3


# 名稱要更換  自首大寫workday=>WorkDay、  可能統一加上 Vol_  去掉avg?

Index(['Unnamed: 0', 'Station_Type', 'Activated', 'Station_ID', 'Station_Name',
       'County', 'District', 'T_Status', 'N_Mrt', 'N_Train', 'N_Thsr',
       'Station_Address', 'lat', 'lng', 'Vol_All', 'Vol_Workday',
       'Vol_Weekend', 'Weekend_Percent'],
      dtype='object')
Index(['Unnamed: 0', 'Station_Type', 'Activated', 'Station_ID', 'Station_Name',
       'County', 'District', 'T_Status', 'N_Mrt', 'N_Train', 'N_Thsr',
       'Station_Address', 'lat', 'lng', 'Vol_All', 'Vol_Workday',
       'Vol_Weekend', 'Weekend_Percent'],
      dtype='object')
Index(['Station_Type', 'Activated', 'Station_Name', 'Vol_All', 'Vol_Workday',
       'Vol_Weekend', 'Weekend_Percent'],
      dtype='object')

,Station_Type,Activated,Station_Name,Vol_All,Vol_Workday,Vol_Weekend,Weekend_Percent
0,TpMrt,1,頂埔站,16.206,17.339,13.377,23.27
1,TpMrt,1,永寧站,26.552,27.670,23.809,25.26
2,TpMrt,1,土城站,14.612,15.296,12.868,24.89
3,TpMrt,1,海山站,42.574,45.470,35.347,23.40
4,TpMrt,1,亞東醫院站,45.963,50.890,33.598,20.61
...,...,...,...,...,...,...,...
287,Train,1,中壢站,54.134,50.873,62.924,31.60
288,Train,1,埔心站,11.217,11.444,10.619,25.74
289,Train,1,楊梅站,10.173,10.156,10.228,27.35
290,Train,1,富岡站,3.457,3.388,3.648,28.70
291,Train,1,新富站,0.153,0.152,0.155,27.64

In [22]:
# 讀取流量資料

# df_Volume = pd.read_csv('../data/04_railway_value_finished.csv',encoding='utf-8')
# print(df_Volume.columns)

1# 讀取租金資料
df_Rent = pd.read_csv('../data/all_stations_rent.csv',encoding='utf-8')
df_Rent

df_new = pd.merge(df_Volume3,
                      df_Rent[['Station_Name','Num_Rent','Mean_Rent','Median_Rent']],
                      on = ['Station_Name'],
                      how='left' )
# df_Volume5 = pd.concat([df_Volume4[['Station_Type', 'Station_ID', 'Station_Name']]],axis=1)
# df_Volume5
# 欄位名稱統一風格
                                   
# 檢查缺值
df_new[df_new['Num_Rent']==0]

,Station_Type,Activated,Station_Name,Vol_All,Vol_Workday,Vol_Weekend,Weekend_Percent,Num_Rent,Mean_Rent,Median_Rent
18,TpMrt,1,動物園站,17.292,15.983,20.510,33.47,0,0,0
62,TpMrt,0,龍埔站(規劃中),NaN,NaN,NaN,NaN,0,0,0
157,TpMrt,0,動物園站(規劃中),NaN,NaN,NaN,NaN,0,0,0
192,TyMrt,1,坑口站,0.376,0.391,0.336,25.27,0,0,0
193,TyMrt,1,機場第一航廈站,0.581,0.613,0.500,24.35,0,0,0
194,TyMrt,1,機場第二航廈站,0.770,0.813,0.662,24.28,0,0,0
195,TyMrt,1,機場第三航廈站,NaN,NaN,NaN,NaN,0,0,0
196,TyMrt,1,機場旅館站,0.120,0.136,0.080,18.78,0,0,0
198,TyMrt,1,橫山站,0.137,0.145,0.116,23.86,0,0,0
216,TyMrt,0,南崁轉運站站(規劃中),NaN,NaN,NaN,NaN,0,0,0
219,TyMrt,0,長興站(規劃中),NaN,NaN,NaN,NaN,0,0,0
220,TyMrt,0,航空城一站(規劃中),NaN,NaN,NaN,NaN,0,0,0
221,TyMrt,0,航空城二站(規劃中),NaN,NaN,NaN,NaN,0,0,0
222,TyMrt,0,航空城三站(規劃中),NaN,NaN,NaN,NaN,0,0,0
223,TyMrt,0,橫山站(規劃中),NaN,NaN,NaN,NaN,0,0,0
225,TyMrt,0,坑口站(規劃中),NaN,NaN,NaN,NaN,0,0,0
263,Train,1,福隆站,1.720,1.501,2.316,34.83,0,0,0
264,Train,1,貢寮站,0.407,0.403,0.421,27.48,0,0,0
265,Train,1,雙溪站,1.725,1.664,1.886,29.33,0,0,0
266,Train,1,牡丹站,0.283,0.257,0.351,33.04,0,0,0
267,Train,1,三貂嶺站,0.155,0.123,0.241,42.27,0,0,0
268,Train,1,大華站,0.018,0.015,0.026,39.17,0,0,0
270,Train,1,望古站,0.034,0.030,0.047,35.44,0,0,0
271,Train,1,嶺腳站,0.058,0.053,0.074,34.05,0,0,0
276,Train,1,八斗子站,0.540,0.472,0.729,37.42,0,0,0
283,Train,1,海科館站,1.317,1.263,1.465,31.13,0,0,0
291,Train,1,新富站,0.153,0.152,0.155,27.64,0,0,0

### 最後總彙整
- 更改欄位順序

In [23]:
df = pd.read_csv('../data/all_stations_with_all_num.csv',encoding='utf-8')
df = pd.merge(df,
         df_new.loc[:,'Station_Name': ],
         on = ['Station_Name'],
         how='left' )
print(df.columns)
df

Index(['Station_Type', 'Activated', 'Station_ID', 'Station_Name', 'T_Status',
       'Num_Transfer', 'Num_Mrt', 'Num_Train', 'Num_Thsr', 'Num_Atm',
       'Num_Cstore', 'Num_Med', 'Num_Ele', 'Num_Sec', 'Num_High', 'All_School',
       'Num_POI', 'Num_Park', 'Num_Cafe', 'Num_Drink', 'Num_Bar', 'Num_Gym',
       'Num_Lodging', 'Num_Village', 'Income_Gross', 'Income_Average',
       'Population', 'Child', 'Adult', 'Old_Age', 'Young_Adult', 'Middle_Age',
       'Child_Dependency', 'Old_Dependency', 'Higher_Edu', 'Sec_Edu',
       'Ele_Edu', 'Uneducated', 'Male', 'Married', 'Immigrant', 'Birth',
       'Vol_All', 'Vol_Workday', 'Vol_Weekend', 'Weekend_Percent', 'Num_Rent',
       'Mean_Rent', 'Median_Rent'],
      dtype='object')

,Station_Type,Activated,Station_ID,Station_Name,T_Status,Num_Transfer,Num_Mrt,Num_Train,Num_Thsr,Num_Atm,...,Married,Immigrant,Birth,Vol_All,Vol_Workday,Vol_Weekend,Weekend_Percent,Num_Rent,Mean_Rent,Median_Rent
0,TpMrt,1,BL01,頂埔站,N,1,1,0,0,13,...,42.46,3.79,0.74,16.206,17.339,13.377,23.27,38,1728,1208
1,TpMrt,1,BL02,永寧站,N,1,1,0,0,11,...,42.74,3.84,0.77,26.552,27.670,23.809,25.26,26,980,906
2,TpMrt,1,BL03,土城站,N,1,1,0,0,22,...,42.87,3.97,0.76,14.612,15.296,12.868,24.89,73,1847,1500
3,TpMrt,1,BL04,海山站,N,1,1,0,0,40,...,43.18,3.96,0.76,42.574,45.470,35.347,23.40,201,1793,1259
4,TpMrt,1,BL05,亞東醫院站,N,1,1,0,0,19,...,43.31,3.88,0.75,45.963,50.890,33.598,20.61,87,1205,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Train,1,1100,中壢站,N,1,0,1,0,48,...,43.44,4.41,0.99,54.134,50.873,62.924,31.60,145,2364,1226
288,Train,1,1110,埔心站,N,1,0,1,0,11,...,44.04,5.25,1.13,11.217,11.444,10.619,25.74,18,525,540
289,Train,1,1120,楊梅站,N,1,0,1,0,17,...,43.75,4.80,1.05,10.173,10.156,10.228,27.35,21,939,900
290,Train,1,1130,富岡站,N,1,0,1,0,5,...,46.36,3.38,1.13,3.457,3.388,3.648,28.70,4,994,994
291,Train,1,1140,新富站,N,1,0,1,0,1,...,46.33,2.98,1.15,0.153,0.152,0.155,27.64,0,0,0

In [24]:

# 把 y 放到欄位最後面， 依序包括 運量、租金 、商家數量 

#df = pd.read_csv('../data/all_stations_with_all_num_20210107.csv',encoding='utf-8')

df

print(df.columns)
print(df.columns.size)
df_X = df[['Station_Type', 'Activated', 'Station_ID', 'Station_Name', 'T_Status',
       'Num_Transfer', 'Num_Atm',
       'Num_Cstore', 'Num_Med', 'Num_Ele', 'Num_Sec', 'Num_High', 'All_School',
       'Num_POI', 'Num_Park',  'Num_Village', 'Income_Gross', 'Income_Average',
       'Population', 'Child', 'Adult', 'Old_Age', 'Young_Adult', 'Middle_Age',
       'Child_Dependency', 'Old_Dependency', 'Higher_Edu', 'Sec_Edu',
       'Ele_Edu', 'Uneducated', 'Male', 'Married', 'Immigrant', 'Birth',
        'Vol_Weekend', 'Num_Rent']]

df_y = df[['Vol_All', 'Vol_Workday', 'Weekend_Percent', 'Median_Rent', 'Num_Cafe', 'Num_Drink', 'Num_Bar', 'Num_Gym',
       'Num_Lodging',]]

df = pd.concat([df_X,df_y],axis=1)

#print(df.columns)
df

Index(['Station_Type', 'Activated', 'Station_ID', 'Station_Name', 'T_Status',
       'Num_Transfer', 'Num_Mrt', 'Num_Train', 'Num_Thsr', 'Num_Atm',
       'Num_Cstore', 'Num_Med', 'Num_Ele', 'Num_Sec', 'Num_High', 'All_School',
       'Num_POI', 'Num_Park', 'Num_Cafe', 'Num_Drink', 'Num_Bar', 'Num_Gym',
       'Num_Lodging', 'Num_Village', 'Income_Gross', 'Income_Average',
       'Population', 'Child', 'Adult', 'Old_Age', 'Young_Adult', 'Middle_Age',
       'Child_Dependency', 'Old_Dependency', 'Higher_Edu', 'Sec_Edu',
       'Ele_Edu', 'Uneducated', 'Male', 'Married', 'Immigrant', 'Birth',
       'Vol_All', 'Vol_Workday', 'Vol_Weekend', 'Weekend_Percent', 'Num_Rent',
       'Mean_Rent', 'Median_Rent'],
      dtype='object')
49

,Station_Type,Activated,Station_ID,Station_Name,T_Status,Num_Transfer,Num_Atm,Num_Cstore,Num_Med,Num_Ele,...,Num_Rent,Vol_All,Vol_Workday,Weekend_Percent,Median_Rent,Num_Cafe,Num_Drink,Num_Bar,Num_Gym,Num_Lodging
0,TpMrt,1,BL01,頂埔站,N,1,13,6,6,5,...,38,16.206,17.339,23.27,1208,0,0,0,3,0
1,TpMrt,1,BL02,永寧站,N,1,11,5,1,9,...,26,26.552,27.670,25.26,906,4,0,0,0,0
2,TpMrt,1,BL03,土城站,N,1,22,10,28,7,...,73,14.612,15.296,24.89,1500,1,1,1,4,1
3,TpMrt,1,BL04,海山站,N,1,40,22,41,26,...,201,42.574,45.470,23.40,1259,2,1,4,6,0
4,TpMrt,1,BL05,亞東醫院站,N,1,19,8,9,18,...,87,45.963,50.890,20.61,1000,5,1,4,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287,Train,1,1100,中壢站,N,1,48,20,84,17,...,145,54.134,50.873,31.60,1226,14,0,18,6,6
288,Train,1,1110,埔心站,N,1,11,7,17,8,...,18,11.217,11.444,25.74,540,3,4,0,1,0
289,Train,1,1120,楊梅站,N,1,17,7,25,16,...,21,10.173,10.156,27.35,900,3,8,0,2,1
290,Train,1,1130,富岡站,N,1,5,3,1,3,...,4,3.457,3.388,28.70,994,0,2,0,0,0
291,Train,1,1140,新富站,N,1,1,0,0,0,...,0,0.153,0.152,27.64,0,0,0,0,0,0

In [25]:
df[df['Station_Type']=='TpLr']
df.loc[144:156,'Activated'] = 10
df.loc[273,'Activated'] = 10
df.loc[195,'Activated'] = 0

In [26]:
df.to_csv('all_data_final_v1.csv',index=False,encoding='utf-8')

In [27]:
# 租金抓不到的資料填入na
fill = df[df['Median_Rent']==0].index

for i in range (len(fill)):
    df.loc[fill[i],'Median_Rent'] = np.nan
df.to_csv('all_data_final_v2.csv')

## 整理分類資料

In [30]:
df = pd.read_csv('all_data_final_v1.csv')

In [31]:
# 總運量分類 (運量原本即為na資料無法分組)
df = pd.read_csv('all_data_final_v1.csv')
import math
import numpy

df['Cat_Vol'] = df['Vol_All'].apply(lambda x : math.log(1000*x))

max = df['Cat_Vol'].max()
min = df['Cat_Vol'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Cat_Vol'], bins, labels=group_names)

df['Cat_Vol'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')

In [32]:
# 租金中位數類別
df = pd.read_csv('all_data_final_v3.csv')

df['Median_Rent'] = df['Median_Rent'].astype(float)

max = df['Median_Rent'].max()
min = df['Median_Rent'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Median_Rent'], bins, labels=group_names)

df['Cat_Rent'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')

In [33]:
# 咖啡店數量數類別 
df = pd.read_csv('all_data_final_v3.csv')

df['Num_Cafe'] = df['Num_Cafe'].astype(float)

max = df['Num_Cafe'].max()
min = df['Num_Cafe'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Num_Cafe'], bins, labels=group_names)

df['Cat_Cafe'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')

In [34]:
# 飲料店數量數類別
df = pd.read_csv('all_data_final_v3.csv')

df['Num_Drink'] = df['Num_Drink'].astype(float)

max = df['Num_Drink'].max()
min = df['Num_Drink'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Num_Drink'], bins, labels=group_names)

df['Cat_Drink'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')

In [35]:
# Bar數量數類別
df = pd.read_csv('all_data_final_v3.csv')

df['Num_Bar'] = df['Num_Bar'].astype(float)

max = df['Num_Bar'].max()
min = df['Num_Bar'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Num_Bar'], bins, labels=group_names)

df['Cat_Bar'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')

In [36]:
# Gym數量數類別
df = pd.read_csv('all_data_final_v3.csv')

df['Num_Gym'] = df['Num_Gym'].astype(float)

max = df['Num_Gym'].max()
min = df['Num_Gym'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Num_Gym'], bins, labels=group_names)

df['Cat_Gym'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')

In [37]:
# Lodging數量數類別
df = pd.read_csv('all_data_final_v3.csv')

df['Num_Lodging'] = df['Num_Lodging'].astype(float)

max = df['Num_Lodging'].max()
min = df['Num_Lodging'].min()
spl = (max-min) / 10

bins = [-1, min+spl, min+spl*2, min+spl*3, min+spl*4, min+spl*5, min+spl*6, min+spl*7, min+spl*8, min+spl*9, max+1]
group_names = ['1','2','3','4','5','6','7','8','9','10']

cats = pd.cut(df['Num_Lodging'], bins, labels=group_names)

df['Cat_Lodging'] = cats
df.to_csv('all_data_final_v3.csv',index=False,encoding='utf-8')